<!DOCTYPE html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>ORAI-LOGIN</title>
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" type="text/css" href="../styles/styles.css">
        <link rel="stylesheet" type="text/css" href="../styles/login.css">
    </head>
    <body>
        <div class="container">
                <div class="left">
                <div class="header">
                    <h2 class="animation a1">Welcome Back🚗</h2>
                    <h4 class="animation a2">Log in to your account using email and password</h4>
                </div>
                <div class="form">
                    <form action="/login" method="post">
                        <input type="email" name="email" class="form-field animation a3" placeholder="Email Address">
                        <input type="password" name="password" class="form-field animation a4" placeholder="Password">
                        <p class="animation a5"><a href="./findpw">Forgot Password</a></p>
                        <button type="submit" class="animation a6">LOGIN</button>
                    </form>
                    <hr>
                    <h4 class="animation a7">Aren't you Orai yet?</h4>
                    <p class="animation a8"><a href="/join" class="link_find">Join ORAI</a></p>
                </div>
                </div>
                <div class="right"></div>
            </div>
    </body>    
</html>